[workspace]
resolver = "2"
members = ["backtracking", "common", "recursive_descent", "utf8_reader"]

[workspace.dependencies]
anyhow = "1.0"
common = { path = "common" }
console = "0.15"
thiserror = "1.0"
utf8_reader = { path = "utf8_reader" }
